body{
    background-color: #638a79;
    background-image: url("img/body-bg.png");
    background-repeat: repeat-x;
    background-position: fixed;
    font-size: 13px;
    line-height: 18px;
    color: #333;
    font-family: Arial;
    

}

.content {

	width: 840px;
	margin: 100px auto 0;
	background-color: #fff;
		
	}
.content .content-top {

	height: 12px;
	background: url("img/content-bg.png") no-repeat 0px 0px;

	}
.content .content-bottom {

	height: 12px;
    background: url("img/content-bg.png") no-repeat -840px 0px;

	}

.content .content-middle {
	padding: 20px 30px;

	}
	
h1 {
	
	font-size: 26px;
	line-height: 36px;
	color: #2b8c57;
	font-weight: normal;
	margin-bottom: 10px;

	}
h2 {

	font-size: 18px;
	line-height: 28px;
	font-weight: normal;
	color: #2b8c57;
	font-style: italic;
	margin-top: 30px
	margin-bottom: 15px;

	}
	
div.block-1 {

	color: #fff;
	font-style: italic;
	font-size: 12px;
	padding: 20px 30px;	
	background: #2b8c57 url("img/block-1-bg.png");
	background-repeat: repeat-x;

	}

div.block-2 {

	color: #fff;
	font-size: 12px;
	font-style: italic;
	padding: 20px 30px;
	background: #356149 url("img/picture-1.png") no-repeat right bottom;

	}

a.button {

	display: block;
	width: 121px;
	height: 38px;
	background: url(img/button-1.png) no-repeat;
	background-position: 0px 0px;
	text-decoration: none;

	}

a.button:hover {

	background-position: 0 -38px;
	
	}
	
a.button:active {

	background-position: 0 -76px;

	}